<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{{ documentTitle }}</title>
</head>
<body>
  <ul class="m-1">
    {% for dir in directories %}
      <li><a class="cursor-pointer text-blue-600 underline" href="{{ dir.href }}">{{ dir.text }}</a></li>
    {% endfor %}
  </ul>
</body>
</html>